* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    background-color: red;
}

footer {
    background-color: blue;
}

section {
    padding-left: 100px;
    padding-right: 100px;
}

article {
    background-color: yellow;
    padding-top: 100px;
    padding-bottom: 100px;
    white-space:pre-line;
}

.imgShowcase {
    background-color: purple;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.imgShowcase:nth-child(1) {
    background-image: url("img.webp");
    background-position: center;
    background-repeat: repeat-y;
    background-size:contain;
    background-attachment: fixed;
}