* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outerShowcase {
  background-color: darkcyan;
  height: fit-content;
  width: fit-content;
  padding: 20px;
}

.showcase {
    margin: 10px;
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.showcase img {
    position: absolute;
    width: 100%;
    height: 100%;
}