body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

    font-family: 'Scope One', serif;
}

body::-webkit-scrollbar {
    display: none;
}

.button-start {
    margin: 20px;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 4;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navbar li {
    top: -200px;
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: top 250ms ease;
}

.navbar li:hover > button {
    box-shadow: 0px 5px lightgreen;
}

.navbar button {
    border: none;
    width: 100%;
    height: 50%;
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(50%);
    font-size: 16px;
    box-shadow: 0px 5px aquamarine;
    transition: box-shadow 1s ease;
    font-size: 18px;
}

.credits {
    z-index: 3;
    background-color: yellow;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid 2px black;
    top: 101%;
    width: 98%;
    height: 550px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.web-content {
    z-index: 2;
    outline: 2px solid black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#about-me {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#works {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#idk {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#contact {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.credits-behind {
    background-color: purple;
    width: 115%;
    height: 700px;
    transform: rotate(10deg);
}

.marquee {
    font-size: 58px;
}

.svg {
    z-index: 1;
}