* {
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
    background-image: radial-gradient(#444cf7 2px, #000000 2px);
    background-size: 20px 20px;

    

    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
}

.wrapper {
    height: 100vh;
    width: 100vw;

    position: relative;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.head {
    width: 50%;
    height: 50%;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: width 1s ease-out, height 1s ease-out;

    position: absolute;
}

.head:hover {
    width: 75%;
    height: 55%;
}

.head:hover > h1 {
    top: 0;
    transform: translateY(15%);
    transition-duration: 0.3s;
}

.body {
    visibility: collapse;
    color: green;
    outline: solid 2px yellow;
    position: absolute;
    width: 50%;
}

.content {
    outline: solid 2px gray;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;

    color: white;
    width: 60%;
    height: 25%;
    transition: all 1s ease;
    transition-delay: 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    overflow: hidden;
}

.content:hover {
    width: 40%;
    height: 60%;
    transition-delay: 0s;
}

.content:hover > .head2 {
    height: 25%;
    top: 5%;
}

.content:hover > .body2 {
    visibility: visible;
    opacity: 1;
    height: 60%;
    width: 90%;
    top: 35%;
    transition-delay: 0.3s;
}

.content:hover > .blob-motion {
    width: 150%;
    height: 150%;
}

.head2 {
    top: 5%;
    width: 90%;
    height: 90%;
    transition: all 1s ease;
    outline: solid 2px grey;
    background-color: rgba(0, 0, 0, 0.75);

    overflow: hidden;

    border-radius: 10px;

    position: absolute;
}

.body2 {
    visibility: hidden;
    opacity: 0;
    width: 90%;
    height: 0%;
    top: 95%;
    outline: solid 2px grey;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 1s ease;
    transition-delay: 0s;

    border-radius: 10px;

    overflow: hidden;

    position: absolute;
}

.body-content {
    padding: 0;
    margin: 20px;
}

.body-content ul {
    column-count: 2;
}

.body-content a {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

.body-content a:hover {
    color: #444cf7;
    font-weight: 900;
    text-decoration: underline;
}