* {
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.9;
    background-image: radial-gradient(#444cf7 2px, #000000 2px);
    background-size: 20px 20px;

    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    outline: dashed 5px yellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    width: 50%;
    height: 15%;
    color: black;
    background-color: rgba(255, 255, 255, 0.80);
    transition: all 1s ease-out;
    
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

h1 {
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: top 0.3s ease-out, transform 0.3s ease-out;
}

.head:hover {
    width: 75%;
    height: 35%;
}

.head:hover > h1 {
    top: 0;
    transform: translateY(15%);
}

.head:hover > .body {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
    transition-duration: 1s;
}

.body {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
    outline: solid 2px black;
    border-radius: 15px;
    transition-property: visibility, opacity, width, height;
    transition-delay: 0s;
    transition-duration: 0.0s;

    margin: 10px;
    padding-left: 2%;
    padding-right: 2%;
}