.search input[type=text] {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 2px solid white;
    margin-left: 10px;
}

.search button {
    border-radius: 10px;
    height: 30px;
    width: 75px;
}