.search input[type=text] {
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    margin-left: 10px;
}

.search button {
    border-radius: 10px;
    height: 30px;
    width: 75px;
    background-color: wheat;
    transition: all 1s ease;
}

.search button:hover {
    background-color: purple
}