* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.project {
    background-color: #BFBDBC;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;

    padding-left: 50px;
    padding-right: 50px;

    height: 545px;
}

.project-info {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    height: calc(100% - 60px);
    margin-top: 30px;
    margin-bottom: 30px;
}

.name {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    text-align: center;
    transform: translateX(-25%);

    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.info {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.project-laptop-showcase {
    position: relative;
}

.laptop-image {
    width: 888px;
    height: calc(545px - 60px);
    background-image: url("images/laptop2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-bottom: 60px;
    margin-top: 60px;

    border-bottom: 1px solid black;
}

.line-under-laptop {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: red;
    top: 100%;

}

section {
    margin-left: 5%;
    margin-right: 5%;
}

main {

}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: gray;
}